In [1]:
# ðŸ§  Day 1 - SQL Basics in Python
# Topic: SELECT * FROM students

import sqlite3
import pandas as pd

# Step 1: Connect to a local database (creates file if not exist)
conn = sqlite3.connect("day1_students.db")

# Step 2: Create a cursor
cursor = conn.cursor()

# Step 3: Create a table
cursor.execute("""
CREATE TABLE IF NOT EXISTS students (
    id INTEGER PRIMARY KEY,
    name TEXT,
    score INTEGER
);
""")

# Step 4: Insert sample data
cursor.execute("DELETE FROM students;")  # clear table if re-run
cursor.executemany("INSERT INTO students (id, name, score) VALUES (?, ?, ?)", [
    (1, "Victoria", 95),
    (2, "James", 88),
    (3, "Grace", 76),
    (4, "John", 82)
])
conn.commit()

# Step 5: Run SQL queries using Pandas
print("ðŸŽ“ All Students:")
df_all = pd.read_sql_query("SELECT * FROM students;", conn)
print(df_all)

print("\nðŸ† Students with score > 80:")
df_top = pd.read_sql_query("SELECT * FROM students WHERE score > 80;", conn)
print(df_top)

print("\nðŸ“Š Only names and scores:")
df_names = pd.read_sql_query("SELECT name, score FROM students;", conn)
print(df_names)

# Close the connection
conn.close()

ðŸŽ“ All Students:
   id      name  score
0   1  Victoria     95
1   2     James     88
2   3     Grace     76
3   4      John     82

ðŸ† Students with score > 80:
   id      name  score
0   1  Victoria     95
1   2     James     88
2   4      John     82

ðŸ“Š Only names and scores:
       name  score
0  Victoria     95
1     James     88
2     Grace     76
3      John     82