In [1]:
# ðŸ§  Day 2 â€“ SQL WHERE Clause
import sqlite3
import pandas as pd

conn = sqlite3.connect("day2_students.db")
cursor = conn.cursor()

cursor.execute("""
CREATE TABLE IF NOT EXISTS students (
    id INTEGER PRIMARY KEY,
    name TEXT,
    score INTEGER,
    dept TEXT
);
""")

cursor.execute("DELETE FROM students;")
cursor.executemany("INSERT INTO students (id, name, score, dept) VALUES (?, ?, ?, ?)", [
    (1, "Victoria", 95, "Data"),
    (2, "James", 88, "IT"),
    (3, "Grace", 76, "HR"),
    (4, "John", 82, "Finance")
])
conn.commit()

# Filter with WHERE
print("ðŸŽ“ Students with score > 80:")
df = pd.read_sql_query("SELECT * FROM students WHERE score > 80;", conn)
print(df)

conn.close()

ðŸŽ“ Students with score > 80:
   id      name  score     dept
0   1  Victoria     95     Data
1   2     James     88       IT
2   4      John     82  Finance