In [1]:
# ðŸ§  Day 3 â€“ SQL ORDER BY
import sqlite3
import pandas as pd

conn = sqlite3.connect("day3_students.db")
cursor = conn.cursor()

cursor.execute("""
CREATE TABLE IF NOT EXISTS students (
  id INTEGER PRIMARY KEY,
  name TEXT,
  score INTEGER
);
""")

cursor.execute("DELETE FROM students;")
cursor.executemany("INSERT INTO students (id, name, score) VALUES (?, ?, ?)", [
  (1, "Victoria", 95),
  (2, "James", 88),
  (3, "Grace", 76),
  (4, "John", 82),
  (5, "Ada", 99)
])
conn.commit()

print("ðŸŽ“ Students Sorted by Score Descending:")
df = pd.read_sql_query("SELECT * FROM students ORDER BY score DESC;", conn)
print(df)

conn.close()

ðŸŽ“ Students Sorted by Score Descending:
   id      name  score
0   5       Ada     99
1   1  Victoria     95
2   2     James     88
3   4      John     82
4   3     Grace     76