In [1]:
# ðŸ§  Day 5 â€“ SQL Mini Project (WHERE + ORDER BY)
import sqlite3
import pandas as pd

conn = sqlite3.connect("day5_students.db")
cursor = conn.cursor()

cursor.execute("""
CREATE TABLE IF NOT EXISTS students (
  id INTEGER PRIMARY KEY,
  name TEXT,
  score INTEGER,
  department TEXT
);
""")

cursor.execute("DELETE FROM students;")
cursor.executemany("INSERT INTO students (id, name, score, department) VALUES (?, ?, ?, ?)", [
  (1, "Victoria", 95, "Data"),
  (2, "James", 88, "IT"),
  (3, "Grace", 76, "HR"),
  (4, "John", 82, "Finance"),
  (5, "Ada", 99, "AI")
])
conn.commit()

print("ðŸŽ“ Students with Score > 80 (Ordered by Score):")
df = pd.read_sql_query("""
  SELECT * FROM students
  WHERE score > 80
  ORDER BY score DESC;
""", conn)
print(df)

conn.close()

ðŸŽ“ Students with Score > 80 (Ordered by Score):
   id      name  score department
0   5       Ada     99         AI
1   1  Victoria     95       Data
2   2     James     88         IT
3   4      John     82    Finance