In [2]:
# ðŸŸ¦ Week 3 â€” Day 3: SQL HAVING Clause
import sqlite3
import pandas as pd

conn = sqlite3.connect("day3_week3_students.db")
cursor = conn.cursor()

cursor.execute("""
CREATE TABLE IF NOT EXISTS students (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    department TEXT,
    score INTEGER
);
""")

# Insert sample data
cursor.executemany("INSERT INTO students (name, department, score) VALUES (?, ?, ?)", [
    ("Victoria", "Data Science", 95),
    ("Daniel", "Data Science", 88),
    ("Mariam", "Finance", 72),
    ("James", "HR", 81),
    ("John", "Finance", 90)
])
conn.commit()

print("ðŸŽ“ All Students:")
print(pd.read_sql_query("SELECT * FROM students;", conn))

# Group and filter departments with average score > 85
query = """
SELECT department, COUNT(*) AS total_students, AVG(score) AS avg_score
FROM students
GROUP BY department
HAVING AVG(score) > 85;
"""
print("\nðŸ“Š Departments with Average Score > 85:")
print(pd.read_sql_query(query, conn))

conn.close()

ðŸŽ“ All Students:
   id      name    department  score
0   1  Victoria  Data Science     95
1   2    Daniel  Data Science     88
2   3    Mariam       Finance     72
3   4     James            HR     81
4   5      John       Finance     90
5   6  Victoria  Data Science     95
6   7    Daniel  Data Science     88
7   8    Mariam       Finance     72
8   9     James            HR     81
9  10      John       Finance     90

ðŸ“Š Departments with Average Score > 85:
     department  total_students  avg_score
0  Data Science               4       91.5