In [1]:
# ðŸŸ¦ Week 3 â€” Day 4: SQL Subqueries
import sqlite3
import pandas as pd

conn = sqlite3.connect("day4_week3_students.db")
cursor = conn.cursor()

cursor.execute("""
CREATE TABLE IF NOT EXISTS students (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    department TEXT,
    score INTEGER
);
""")

# Insert sample data
cursor.executemany("INSERT INTO students (name, department, score) VALUES (?, ?, ?)", [
    ("Victoria", "Data Science", 95),
    ("Daniel", "Data Science", 88),
    ("Mariam", "Finance", 72),
    ("James", "HR", 81),
    ("John", "Finance", 90)
])
conn.commit()

print("ðŸŽ“ All Students:")
print(pd.read_sql_query("SELECT * FROM students;", conn))

# Subquery: Find students with above-average score
query = """
SELECT name, department, score
FROM students
WHERE score > (SELECT AVG(score) FROM students);
"""
print("\nðŸ“Š Students Above Average Score:")
print(pd.read_sql_query(query, conn))

conn.close()

ðŸŽ“ All Students:
   id      name    department  score
0   1  Victoria  Data Science     95
1   2    Daniel  Data Science     88
2   3    Mariam       Finance     72
3   4     James            HR     81
4   5      John       Finance     90

ðŸ“Š Students Above Average Score:
       name    department  score
0  Victoria  Data Science     95
1    Daniel  Data Science     88
2      John       Finance     90