In [1]:
# üü¶ Week 3 ‚Äî Day 5: SQL Dashboard Summary
import sqlite3
import pandas as pd

conn = sqlite3.connect("day5_week3_dashboard.db")
cursor = conn.cursor()

# Create tables
cursor.execute("""
CREATE TABLE IF NOT EXISTS departments (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    department_name TEXT
);
""")

cursor.execute("""
CREATE TABLE IF NOT EXISTS students (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    department_id INTEGER,
    score INTEGER,
    FOREIGN KEY(department_id) REFERENCES departments(id)
);
""")

# Insert department data
cursor.executemany("INSERT INTO departments (id, department_name) VALUES (?, ?)", [
    (1, "Data"),
    (2, "Finance"),
    (3, "HR")
])

# Insert students
cursor.executemany("INSERT INTO students (name, department_id, score) VALUES (?, ?, ?)", [
    ("Victoria", 1, 95),
    ("Daniel", 1, 88),
    ("Mariam", 2, 72),
    ("James", 3, 81),
    ("John", 2, 90)
])
conn.commit()

print("üéì All Students Joined with Departments:")
query = """
SELECT s.name, d.department_name, s.score
FROM students s
JOIN departments d
ON s.department_id = d.id;
"""
print(pd.read_sql_query(query, conn))

# Departmental average
print("\nüè¢ Department Average Scores:")
query2 = """
SELECT d.department_name, AVG(s.score) AS avg_score
FROM students s
JOIN departments d
ON s.department_id = d.id
GROUP BY d.department_name;
"""
print(pd.read_sql_query(query2, conn))

conn.close()

üéì All Students Joined with Departments:
       name department_name  score
0  Victoria            Data     95
1    Daniel            Data     88
2    Mariam         Finance     72
3     James              HR     81
4      John         Finance     90

üè¢ Department Average Scores:
  department_name  avg_score
0            Data       91.5
1         Finance       81.0
2              HR       81.0